.App {
  text-align: center;
  /*background-color: #91dfe1;*/
}

@media(min-width: 768px) {
  
}

.NavBar {
  display: flex;
}

.NavBar div{
  border: 1px black solid;
  padding: 10px;
}

.box-1 {
  flex: 1;
}






